{% extends "base.html" %}
{% block title %}AS10: Insufficient Logging & Monitoring{% endblock %}
{% block content %}
<h1>AS10: Insufficient Logging & Monitoring</h1>
<p>This page highlights issues related to insufficient logging and monitoring.</p>
<p>This page demonstrates an example of insufficient logging where sensitive information is logged improperly.</p>
<form method="get">
    <label for="username">Enter Username:</label>
    <input type="text" id="username" name="username">
    <button type="submit">Submit</button>
</form>
<a href="/">Back to Home</a>
{% endblock %}
